   <section class="topsection">
        <div class="sidemenubutton">
            <i class="fas fa-bars"></i>
        </div>
        <h1>Mobile Chat</h1>
        <h4>Talk to your friends. If you have any.</h4>
    </section>
        <section class="sidemenu">
            <h1>Side Menu</h1>
            <h4>Generic side menu</h4>
            <ul>
                <li>Home Page</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Login</li>
            </ul>
        </section>
        <section class="users-container">
            <input type="text" placeholder="Search for someone" />
            <div class="users">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/user-tie-solid.svg" />
                    </div>
                    <div class="card-title">
                        <p>Steven Lu</p>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut recusandae quidem voluptatibus voluptas quae, molestias atque ea nesciunt rerum corporis quisquam reiciendis eaque quos? Corrupti possimus fuga maiores beatae porro.</p>
                    </div>
                </div>
            </div>
        </section>
    <section class="footer">
        <h1>Footer</h1>
        <h4>If you see this then you don't have any friends. Jk you do.</h4>
    </section>