<div class="loginform-container">
    <form class="loginform">
        <div class="form-group">
            <div class="label">
                <span>Username</span>
            </div>
            <input type="text" [(ngModel)]="userName" name="username" (keypress)="handleEnterKeyPressLogin($event)" />
        </div>
       <div class="loginbutton">
           <!-- <button type="button" (click)="login()" [disabled]="userName === ''" [ngClass]="{'disabled': userName === ''}">Login</button> -->
           <button type="button" (click)="login()">Join</button>
       </div>
    </form>
</div>

